/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    margin: 10px;
    font-family: verdana;
  }
  
  #todoinput {
    background-color: royalblue;
    padding: 30px 30px 70px 30px;
  }
  
  input[type=text] {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 95%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  button {
    background-color: lightblue;
    color: white;
    border: none;
    width: 5%;
    padding: 10px 20px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    float: left;
  }
  
  input[type="checkbox"] {
    background-color: teal;
    padding: 20px;
  }

  
  /* Remove margins and padding from the list */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }